// customize bootstrap variables here:
@import "variables";
@import "bootstrap";

.footer {
    position:absolute;
    width:100%;
    bottom:0;
    color:#bbb;
    margin-top:20px;
}

.footer p {
    padding-left:15px;
}

.userNav {
    float:right;
}

.content {
    padding:0px 15px;
}

.editText {
    min-height:400px;
}

.Button {
    width:100px;
    color:white;
    background-color:blue;
    margin-top:10px;
}

.bold {
    font-weight:bold;
}

.historyMessage {
    color:#bbb;
    font-style:italic;
}

.centerForm {
    width:300px;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    border: solid 1px #bbb;
    border-radius: 5px;
    padding: 20px;
}

.formHeader {
    font-size: 32px;
    font-weight: bold;
    margin-top:0px;
    margin-bottom:20px;
}

.form-label {
    margin-top:10px;
    margin-bottom:2px;
}

.form-bottom-link {
    margin-top:10px;
}